[Unit]
Description=FishPI Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/share/fishpi/app.py
RemainAfterExit=no
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target