<div class="screen" id="dashboard">
	<div class="row">
		<div class="col-md-6">
			<div class="card text-white bg-notice mb-3" id="lighting-status">
			  <div class="card-header">Lighting</div>
			  <div class="card-body">
				<div class="icon"><i class="fas fa-cloud"></i></div>
				<h5 class="card-title">-</h5>
			  </div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card text-white bg-notice mb-3" id="solenoid-status" >
			  <div class="card-header">Water Flow</div>
			  <div class="card-body">
			  <div class="icon"><i class="fas fa-compact-disc"></i></div>
				<h5 class="card-title">Off</h5>
			  </div>
			</div>
		</div>			
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="card text-white bg-notice mb-3" id="aquarium-temperature" >
			  <div class="card-header">Aquarium Temperature</div>
			  <div class="card-body">
			  <div class="text">-</div>
			  </div>
			</div>
		</div>		
		<div class="col-md-6">
			<div class="card text-white bg-notice mb-3" >
			  <div class="card-header">Ambients</div>
			  <div class="card-body">
				<div class="icon"><i class="fas fa-cloud-rain"></i></div>
				<h5 class="card-title">Raining</h5>
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="card text-white bg-notice mb-3"  id="aquarium-water-changed" >
			  <div class="card-header">Water Changed Today</div>
			  <div class="card-body">
				<div class="text">-</div>
			  </div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card text-white bg-notice mb-3" id="system-temperature" >
			  <div class="card-header">System Temperature</div>
			  <div class="card-body">
				<div class="text">-</div>
			  </div>
			</div>
		</div>								
	</div>	
</div>	