<div class="row" id="footer-bar">
	<div data-screen="dashboard" class="screen-btn col-md-2 footer-btn active">
		<div class="icon"><i class="fas fa-tachometer-alt"></i></div>
		<span>Dashboard</span>			
	</div>
	<div data-screen="lighting" class="screen-btn col-md-2 footer-btn">
		<div class="icon"><i class="fas fa-lightbulb"></i></div>
		<span>Lighting</span>
	</div>
	<div data-screen="temperature" class="screen-btn col-md-2 footer-btn">
		<div class="icon"><i class="fas fa-thermometer-half"></i></div>
		<span>Temperature</span>
	</div>
	<div data-screen="water" class="screen-btn col-md-2 footer-btn">
		<div class="icon"><i class="fas fa-tint"></i></div>
		<span>Water</span>			
	</div>
	<div data-screen="ambients" class="screen-btn col-md-2 footer-btn">
		<div class="icon"><i class="fas fa-fire"></i></div>
		<span>Ambients</span>			
	</div>
	<div data-screen="system" class="screen-btn col-md-2 footer-btn">
		<div class="icon"><i class="fas fa-wrench"></i></div>
		<span>System</span>			
	</div>
</div>