<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Jozef Dvorský - creatingo.com">
    <title>FishPI Dashboard</title>

    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">

    <!-- Third Party LIBS-->
    <script src="/static/js/bootstrap/bootstrap.bundle.js"></script>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/highchart.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/draggable-points.js"></script>

    <!--FishPI LIBS-->
    <script src="/static/js/fishpi.base.js"></script>
    <script src="/static/js/fishpi.api.js"></script>
    <script src="/static/js/fishpi.lighting.js"></script>
    <script src="/static/js/fishpi.temperature.js"></script>
    <script src="/static/js/fishpi.system.js"></script>
    <script src="/static/js/fishpi.water.js"></script>
    <script src="/static/js/fishpi.ambients.js"></script>
</head>

<body>
    {% block content %}{% endblock %}    
</body>
</html>
