{% extends "head.html" %}

{% block content %}

<!--https://www.behance.net/gallery/9080423/HEIMA-Smart-Home-Automation-UI-Concept-->

<div class="container-fluid" id="main" style="height:100%">
	<div class="row" style="height:100%">
		<div class="col-md-4" id="left" >
			{% include 'notifications.html' %}		
		</div>
		<div class="col-md-8" id="right">
			{% include 'dashboard.html' %}
			{% include 'lighting.html' %}	
			{% include 'temperature.html' %}	
			{% include 'water.html' %}	
			{% include 'ambients.html' %}	
			{% include 'system.html' %}				
		</div>
	</div>
	
	{% include 'footer.html' %}

</div>

{% endblock %}
