<div class="screen" id="lighting">
	<div class="row lighting-channels">
		<div data-channel="1" class="col-md-1 lighting-btn active">
			<div class="icon"><i class="fas fa-sun"></i></div>
			<span>1</span>
		</div>
		
		<div data-channel="2" class="col-md-1 lighting-btn">
			<div class="icon"><i class="fas fa-sun"></i></div>
			<span>2</span>
		</div>

		<div data-channel="3" class="col-md-1 lighting-btn">
			<div class="icon"><i class="fas fa-sun"></i></div>
			<span>3</span>
		</div>
		
		<div data-channel="4" class="col-md-1 lighting-btn">
			<div class="icon"><i class="fas fa-sun"></i></div>
			<span>4</span>
		</div>

		<div data-channel="5" class="col-md-1 lighting-btn">
			<div class="icon"><i class="fas fa-sun"></i></div>
			<span>5</span>
		</div>

		<div data-channel="6" class="col-md-1 lighting-btn">
			<div class="icon"><i class="fas fa-sun"></i></div>
			<span>6</span>
		</div>		
		<div data-channel="7" class="col-md-1 lighting-btn">
			<div class="icon"><i class="fas fa-sun"></i></div>
			<span>7</span>
		</div>			
		<div data-channel="8" class="col-md-1 lighting-btn">
			<div class="icon"><i class="fas fa-moon"></i></div>
			<span>8</span>
		</div>	
		<div data-channel="9" class="col-md-1 lighting-btn">
			<div class="icon"><i class="fas fa-moon"></i></div>
			<span>9</span>
		</div>			
	</div>
	<div class="row">
		<div id="lighting-channel-editor"></div>
	</div>
	
	
</div>	