			<div id="timedate-bar">
				<div class="row">
					<div>
						<div class="time">13:45</div>
						<div class="date">17th July 2019</div>
					</div>
				</div>		
			</div>
			<div id="notice-bar">
				<div class="row">
					<div class="alert alert-notice" role="alert">
					  <h4 class="alert-heading"><i class="fas fa-tint"></i> Water Change</h4>
					  <span class="badge badge-time">10 Minutes Ago</span>				  
					  <p><b>3</b> Litres of water changed</p>
					</div>
				</div>
				<div class="row">
					<div class="alert alert-notice alert-primary" role="alert">
					  <h4 class="alert-heading"><i class="fas fa-thermometer-half"></i> Temp Warning </h4>
					  <span class="badge badge-time">2 Hours Ago</span>					  
					  <p>Temperature Exceeded <b>27'c</b></p>
					</div>
				</div>
				<div class="row">
					<div class="alert alert-notice" role="alert">
					  <h4 class="alert-heading"><i class="fas fa-wrench"></i> System Warning</h4>
					  <span class="badge badge-time">1 Day Ago</span>	
					  <p>CPU Temperature Exceeded <b>66'c</b></p>
					</div>
				</div>
				<div class="row">
					<div class="alert alert-notice" role="alert">
					  <h4 class="alert-heading">Water Change</h4>
					  <span>10/12/2019 - 13:45</span>				  
					  <p><b>3</b> Litres of water changed</p>
					</div>
				</div>	
				<div class="row">
					<div class="alert alert-notice" role="alert">
					  <h4 class="alert-heading">Water Change</h4>
					  <span>10/12/2019 - 13:45</span>				  
					  <p><b>3</b> Litres of water changed</p>
					</div>
				</div>	
				<div class="row">
					<div class="alert alert-notice" role="alert">
					  <h4 class="alert-heading">Water Change</h4>
					  <span>10/12/2019 - 13:45</span>				  
					  <p><b>3</b> Litres of water changed</p>
					</div>
				</div>	
				<div class="row">
					<div class="alert alert-notice" role="alert">
					  <h4 class="alert-heading">Water Change</h4>
					  <span>10/12/2019 - 13:45</span>				  
					  <p><b>3</b> Litres of water changed</p>
					</div>
				</div>
			</div>	