			<div id="timedate-bar">
				<div class="row">
					<div>
						<div id="time"></div>
						<div id="date"></div>
                        <div id="status"><i class="fas fa-times-circle"></i></div>
					</div>
				</div>		
			</div>
            <div id="notice-bar">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card text-white bg-notice mb-3" id="solenoid-status">
                            <div class="card-header">Water Flow</div>
                            <div class="card-body">
                                <div class="icon"><i class="fas fa-fan"></i></div>
                                <h5 class="card-title">Off</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card text-white bg-notice mb-3" id="solenoid-status">
                            <div class="card-header">Water Flow</div>
                            <div class="card-body">
                                <div class="icon"><i class="fas fa-fan"></i></div>
                                <h5 class="card-title">Off</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>	