<div class="screen" id="temperature">
	<div class="row">
		<div class="col-md-4">
			<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
			  <div class="card-header">Header</div>
			  <div class="card-body">
				<div class="icon"><i class="fas fa-lightbulb"></i></div>
				<h5 class="card-title">TEMP card title</h5>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-white bg-notice mb-3" style="max-width: 18rem;">
			  <div class="card-header">Header</div>
			  <div class="card-body">
			  <div class="icon"><i class="fas fa-lightbulb"></i></div>
				<h5 class="card-title">Success card title</h5>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-white bg-notice mb-3" style="max-width: 18rem;">
			  <div class="card-header">Header</div>
			  <div class="card-body">
			  <div class="icon"><i class="fas fa-lightbulb"></i></div>
				<h5 class="card-title">Success card title</h5>
			  </div>
			</div>
		</div>				
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card text-white bg-notice mb-3" style="max-width: 18rem;">
			  <div class="card-header">Header</div>
			  <div class="card-body">
				<div class="icon"><i class="fas fa-lightbulb"></i></div>
				<h5 class="card-title">Success card title</h5>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-white bg-notice mb-3" style="max-width: 18rem;">
			  <div class="card-header">Header</div>
			  <div class="card-body">
			  <div class="icon"><i class="fas fa-lightbulb"></i></div>
				<h5 class="card-title">Success card title</h5>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-white bg-notice mb-3" style="max-width: 18rem;">
			  <div class="card-header">Header</div>
			  <div class="card-body">
			  <div class="icon"><i class="fas fa-lightbulb"></i></div>
				<h5 class="card-title">Success card title</h5>
			  </div>
			</div>
		</div>				
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card text-white bg-notice mb-3" style="max-width: 18rem;">
			  <div class="card-header">Header</div>
			  <div class="card-body">
				<div class="icon"><i class="fas fa-lightbulb"></i></div>
				<h5 class="card-title">Success card title</h5>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-white bg-notice mb-3" style="max-width: 18rem;">
			  <div class="card-header">Header</div>
			  <div class="card-body">
			  <div class="icon"><i class="fas fa-lightbulb"></i></div>
				<h5 class="card-title">Success card title</h5>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-white bg-notice mb-3" style="max-width: 18rem;">
			  <div class="card-header">Header</div>
			  <div class="card-body">
			  <div class="icon"><i class="fas fa-lightbulb"></i></div>
				<h5 class="card-title">Success card title</h5>
			  </div>
			</div>
		</div>				
	</div>	
</div>	